pydub==0.25.1
SpeechRecognition==3.8.1
gTTS==2.2.3
openai
langchain
tiktoken
unstructured
llm
transformers
faiss-gpu
faiss-cpu
google-api-python-client
srt
pytube
flask
youtube_transcript_api
transformers
torch
faiss-cpu
-e .